* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  font-family: Impact;
  font-size: 18px;
}

div {
  margin-top: 3%;
  width: 40%;
}

#BilderStartsida img {
  width: 90%;
  height: 90%;
}

div img {
  width: 40%;
  height: 40%;
  outline: 3px solid black;
  box-shadow: 10px 10px 20px 0px black;
  flex-direction: row;
  margin: 10px;
}

a {
  text-decoration-line: none;
  color: red;
}

a:hover {
  color: darkred;
}

header {
  display: flex;
  width: 100%;
  outline: 10px solid black;
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

h2 {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  font-size: 26px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h4 {
  font-size: 26px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h5 {
  font-size: 26px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h6 {
  font-size: 26px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10%;
  background-color: rgb(51, 53, 56);
  max-width: 20%;
  min-height: 100%;
  font-size: 20px;
}

main {
  margin: 10px;
  width: 40%;
  height: 100%;
}

footer {
  width: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  font-family: "Times New Roman", Times, serif;
}
